<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beach View | Sign-In</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">





    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
      </head>
  <body>
    <header>
        <div class="header-left">
          <a href="/">
            <img class="logo" src="{% static 'images/logo.png'%}">
          </a>
          </div>
        <!-- Add a menu icon here -->
        <span class="fa fa-bars menu-icon"></span>
        <div class="header-right">

          <a href="/signup" class="login">Sign Up</a>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>W E L C O M E</h1>
        <h2>Sign-in!</h2>
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>

<body>

    <h3>Log In to your account!</h3>
    <div class="form">
    <form method="post" action="/signin" class="mb-2">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" Required>
        </div>
        <div class="form-group">
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Your Password" Required>
        </div>

        <button type="submit" class="btn message">Log In</button>
    </form>
        </div>
</body>
<footer>
        <h2>Made by :</h2>
      <div class="container">
        <div class="name"><h4>Punya GK</h4>
        <p>2162626</p></div>

        <div class="name"><h4>Likhithaa BR</h4>
        <p>2162625</p></div>

        <div class="name"><h4>Ayush Bhhattacharyya</h4>
        <p>2162630</p>
</div>



      </div>
    </footer>
</html>